extends layout 

block content
  h1 Welcome Super Admin

  h3 Total Savings: £#{Total_Savings}
  h3 Total Project: #{Total_users}
  h3 This month saved: £#{Total_goals}

  h3 Users 
  table 
      tbody
        each user in users
          tr
            td #{user.Fullname}
            td #{user.active_goals}
            td #{user.inactive_goals}
            td #{user.withdrawals}
  else
    p User is registered yet. 
