extends layout

block content
  h1  Welcome #{profile.full_name}!

  - const totalSavings = goals.reduce((sum, g) => sum + (parseFloat(g.current_amount) || 0), 0)
  h3 Total Savings: £#{totalSavings.toFixed(2)}
  h3 Total Goals: #{goals.length}
  - console.log(goals)
  if goals && goals.length
    each goal in goals
      h2 #{goal.goal_title}
      p Overview

      div(class="my-2 nav-link")
        a(href="/goals") View goals
  else
    p No goals found.

  h3 Recent Activity
  - console.log(activities)
  if activities 
    table
      thead
        tr
          th Activity
          th Message

      tbody
        each activity in activities
          tr
            td #{activity.activity_type}
            td #{activity.activity_message}

          tr
            td #{activity.activity_id}
            td #{activity.created_at}
  else
    p No recent activity founds.
