extends layout

block content
  section(class='space-y-4')
    h1(class='text-xl font-semibold') Goal Details

    if goal
      .card
        h2(class='text-lg font-semibold mb-2') #{goal.goal_title}
        p #[span.label Category:] #{goal.category_name}
        p #[span.label Target Amount:] £#{goal.target_amount}
        p #[span.label Current Amount:] £#{goal.current_amount}
        p #[span.label Status:] #{goal.goal_status}
        p #[span.label End Date:] #{formatDate(goal.end_date)}

        if goal.goal_description
          p.mt-2
            span.label Description:
            |  #{goal.goal_description}

      h3(class='text-lg font-semibold') Transactions
      if transactions && transactions.length
        .table-wrap
          table.app-table
            thead
              tr
                th Type
                th Amount
                th Status
                th Date
            tbody
              each txn in transactions
                tr
                  td #{txn.transaction_type}
                  td £#{txn.amount}
                  td #{txn.transaction_status}
                  td #{formatDateTime(txn.transaction_date)}
      else
        p No transactions found for this goal.
    else
      p Goal not found.
