extends layout

block content
  h1.title Goals
  p Here you can set your savings goals and track your progress towards achieving them.

  if Goals
    p Total Amount: £#{Goals.Total_Amount}
    p Status: #{Goals.Status}

    div
      p Id: #{Goals.id}
      p Name: #{Goals.Name}
      p Target Amount: £#{Goals.Target_Amount}
      p Current Amount: £#{Goals.Current_Amount}
      p Withdrawal date: #{Goals.Deadline}
      p Status: #{Goals.Status}
      p Payment method: #{Goals.created_at}

    p goals description

  else
    p No goals found.