extends layout

block content
  h1.title Goals
  p Here you can set your savings goals and track your progress towards achieving them.

  if fetchedGoals && fetchedGoals.length
    each goal in fetchedGoals
      div
        h2 #{goal.goal_title}
        p Target Amount: £#{goal.target_amount}
        p Current Amount: £#{goal.current_amount}
        p Withdrawal date: #{goal.end_date}
        p Status: #{goal.goal_status}
        a(href='/goals/' + goal.goal_id) See goal details

  else
    p No goals found.